@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/* --admin navigation styles-- */
.admin--navigation-section{
    margin: 20px 0;
}
.admin--navigation-section ul{
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #d89b64;
}
.admin--navigation-section ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
}
.admin--navigation-section ul li.nav-admin-list::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    height: 60%;
    width: 2px;
    background: #e7e5e6;
}
.admin--navigation-section ul li:hover{
    cursor: pointer;
    background: #d89b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.admin--navigation-section ul li.nav-admin-list:hover::after{
    display: none;
}
/* admin---blender-section */
.admin---blender-section{
    
}
/* --admin dialog styles-- */
.admin---blender-section dialog{
    z-index: 1;
}
.admin---blender-section dialog > h2{
    font-size: 18px;
    color: #d89b64;
    text-shadow: 1px 1px 1px #808080;
}
.admin--dialog-btn{
    position: absolute;
    color: #e7e5e6;
    top: 8px;
    right: 8px;
    font-size: 20px;
}
.admin--dialog-btn:hover{
    cursor: pointer;
    color: #d89b64;
}

/* --admin category styles-- */
.admin--category-section{
    padding-top: 20px;
}
.admin--panel{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.admin--panel button{
    margin-right: 5px;
    background-color: #d89b64;
    border: 1px solid #808080;
    border-radius: 5px;
    color: #161b29;
    padding: 2px 5px;
}
.admin--panel button:hover{
    background-color: #808080;
    color: #0f1420;
}
.admin--panel select{
    background: #f7f7f7;
    border: 2px solid #d89b64;
    border-radius: 5px;
    padding: 2px 5px;
}
.category-section--list>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */
}
.category-section--list>div>div{
    height: 3px;
    background-color: #d89b64;
    width: 90%;
    /* margin-left: 5px; */
}
.category-section--category{
    color: #161b29;
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.category-section--category:hover{
    cursor: pointer;
}
.category-section--category>div>svg{
    position: absolute;
    /* bottom: 10px;
    left: -40px; */
    bottom: 50px;
    left: -20px;
    color: #b1723b;
}
.category-section--category>div>p{
    opacity: 0;
}
.category-section--category>div>svg:hover{
    cursor: pointer;
}
.category-section--category>div>div{
    color: #d6d7e9;
    position: absolute;
    top: 2px;
    left: -15px;
    font-size: 20px;
    z-index: 0;
    width: 300%;
    text-align: left;
    font-family: "Protest Riot", sans-serif;
}
.category-section--category>div>p>svg{
    position: absolute;
}
.category-section--category>div>p>svg:nth-child(1){
    left:10px;
    bottom:0px;
}
.category-section--category>div>p>svg:nth-child(2){
    left:53px;
    bottom:18px;
    color: #c1273c;
}
/* active rotate main categories */
.category-section--category>div.active-rotate>p{
    opacity: 1;
    animation: svgBtn-active 8s 1;
}
@keyframes svgBtn-active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.category-section--category> div.active-rotate::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    transform: translate(-80%, -50%);
    border-radius: 100%;
    border-top: 1px solid transparent;
    border-left: 1px solid #dbdbdc;
    border-bottom: 1px solid #dbdbdc;
    animation: grow 3s forwards;
}
@keyframes grow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}
.category-section--category>div.active-rotate>svg{
    animation: fa-active 6s forwards;
}
@keyframes fa-active {
    0% {
        color: #b1723b;
    }
    100% {
        color: #808080;
    }
}
.category-section--category>div.passive-rotate>svg{
    animation: fa-passive 6s forwards;
}
@keyframes fa-passive {
    0% {
        color: #808080;
    }
    100% {
        color: #b1723b;
    }
}
.category--active-work-panel{
    display: block;
}
.category-section--list svg{
    color: #0075ff;
}

/* --admin sub-category styles-- */
.sub_category--section{
    position: relative;
}
.sub_category--section svg{
    position: absolute;
    top: 0;
    right: -20px;
    color: #c1273c;
}
.sub_category-article{
    width: 90%;
    margin-left: auto;
}
.sub_category--container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sub_category--container div:first-child,
.sub_category--container div:last-child{
    height: 1px;
    background-color: gray;
    width: 45%;
}
.sub_category--container div:first-child{
    margin-right: 10px;
}
.sub_category--container div:nth-child(2){
    width: 10%;
}
.sub_category--container div:last-child{
    margin-left: 10px;
}
.sub_category--box-container{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
/* --admin dish-card styles-- */
.admin--box{
    width: 291px;
    height: 225px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 16px -2px rgba(0,0,0,.83);
    padding: 10px;
    position: relative;
}
.admin--box>div:first-child{
    width: 60%;
}
.admin--box>div:last-child{
    width: 40%;
    display: flex;
    flex-flow: column;
}
/* admin--box check */
.admin--box>div:nth-child(2){
    position: absolute;
    top: -20px;
    left: 0;
    width: 60px;
    height: 20px;
    background-color: #f6f6f8;
    line-height: 21px;
    border-radius: 10px 5px 0 0;
    border-top: 2px solid #cbcbcb;
}

.admin--box-title{
    font-size: 14px;
    height: 20%;
    overflow: auto;
    font-weight: 600;
}
.admin--box-title span{
    color: #d89b64;
    margin: auto;
}
.admin--box-image{
    height: 70%;
    margin:0 5px 5px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}
.admin--box>div:first-child>i{
    font-size: 12px;
    color: #808080;
    height: 10%;
}
.admin--box-delete-card{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    color: #a19d9f;
}
.admin--box-description{
    font-size: 12px;
    height: 80%;
    overflow: auto;
    text-align: left;
    margin-bottom: 5px;
}
.admin--box-description::-webkit-scrollbar,
.admin--box-title::-webkit-scrollbar{
    width: 10px;
}
.admin--box-description::-webkit-scrollbar-track,
.admin--box-title::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }  
.admin--box-description::-webkit-scrollbar-thumb,
.admin--box-title::-webkit-scrollbar-thumb{
    background: #d89b64; 
    border-radius: 10px;
  }
.admin--box-description::-webkit-scrollbar-thumb:hover,
.admin--box-title::-webkit-scrollbar-thumb:hover{
    background: #b1723b; 
  }
.admin--box-description>div{
    width: 95%;
}
.admin--box-price{
    color: #d89b64;
    font-size: 17px;
    height: 10%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.admin--box-price > div{
    margin-left: 5px;
}
.admin--box-price > span{
    margin-right: 2px;
}
  /* admin add card button */
  .add-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:1px solid #c9c9c9;
    background: #bdb5af40;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #f6f6f8;
  }
  .add-btn:hover{
    cursor: pointer;
    color: #808080;
    border: 1px solid #808080;
  }
/* main category dialog window */
.dialog-window h4 b{
    color: #0075ff;
}
.dialog-window{
    position:fixed;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    top:-40%;
    box-shadow: -1px 2px 6px #a3a1a1;
    padding: 20px;
    width: 40%;
}
.dialog-window label{
    display: flex;
    flex-flow: column;
}
.dialog-window label *{
    margin: 5px;
}
.dialog-window label span{
    font-size: 14px;
    text-align: left;
}
.dialog-window input{
    max-width: 100%;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
    background-color: #f6f6f8 !important;
}
.dialog-window div{
    text-align: right;
}
.dialog-window div>button{
    margin: 5px;
    background: #0075ff;
    border: 1px solid #0075ff;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
    font-size: 14px;
}
.dialog-window div>button:nth-child(2){
    color: #0075ff;
    background: #fff;
    border: 1px solid #0075ff;
}
.dialog-window div>button:nth-child(2):hover{
    background: rgb(241, 241, 241);
}
.dialog-window div>button:hover{
    cursor:pointer;
    background: #2f8efa;
}